{% comment %}
    Renders a section title

    Accepts:
    - section_title: object

    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
    
    {% assign section_title = section.settings.title | split: " " %}
        <div class="p-4 md:p-8 tw_smallheading">
          <span class="tw_smallEM">{{ section_title.first }}</span> {{ section.settings.title | remove_first: section_title.first }}
        </div>