{% if shop.customer_accounts_enabled %}
	{% assign ssw_fave_enabled = 1 %}
	{% if shop.metafields.ssw['fave_enabled'] %}
		{% assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] | plus: 0 %}
	{% endif %}
	{% if ssw_fave_enabled == 1 %}
		<a class="ssw-link-fave-menu ssw-link-fave-menu-hide-count" href="/pages/wishlist" aria-label="{{ shop.metafields.ssw.lang.my_faves }}">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9" viewBox="0 -2 20 20" fill="red">
				<path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
			  </svg>
			<!-- <i class="ssw-icon-heart-o"></i> -->
			<span class="ssw-counter-fave-menu ssw-hide"></span></a><script defer>var sswFaveCounterMenuLoaded=true;</script>	{% endif %}
{% endif %}