<!-- single page single viewport scroll main page build -->
<div class="relative flex flex-col items-center justify-center w-screen  h-[75vh] md:h-[83vh]">
    <div class="grid w-[80vw] min-w-[370px] max-w-[1000px] h-[90%] grid-cols-4 bg-cyan-300 rounded-xl grid-rows-5">
        <div class="col-start-1 col-span 1">Collection</div>
        <div class="col-span-2 col-start-1 row-span-3 row-start-2 bg-amber-300">left side bottom</div>
        <div class="col-span-2 col-start-3 row-span-5 row-start-1 bg-purple-300">right half</div>
    </div>
    

</div>

<!-- grid background banner  -->
    <div class="relative min-h-[40vw] max-w-[90vw] mx-auto flex items-center justify-center bg-lt-white overflow-hidden mb-4" >
        <!-- background grid -->
        <div class="absolute inset-0 grid justify-center grid-flow-row grid-cols-5 grid-rows-3 gap-4 p-2 transform -skew-y-3 md:gap-6 grid-background">
            {% for block in section.blocks %}
            <div class="relative col-span-1 row-span-1 animate-pulse">
                <img src="{{block.settings.product.featured_image | img_url: '250x'}}" alt="" class="absolute object-cover object-top w-full max-h-full rounded-xl aspect-square drop-shadow-lg">
            </div> 
            
            {%endfor%}
            
        </div>
        <!-- content -->
        <div class="relative flex flex-col items-center justify-center p-2 md:p-4 ">
            <p class="p-4 text-3xl font-extrabold rounded-lg bg-lime-200 md:text-5xl lg:text-6xl text-slate-800 ">Lil'Thingamajigs</p>
            <p class="p-4 text-xl font-bold rounded-lg bg-lime-200 md:text-3xl lg:text-4xl text-slate-700 ">The best place to find the products you love.</p>
        </div>
    <!-- <div class="absolute inset-0 w-full h-full bg-lt-white/60"></div> -->

</div>
{% javascript %}
    // grab everything we need
const gridItems = document.querySelectorAll(".grid-background > div");

// loop over grid items and create a random duration + delay for each
gridItems.forEach((item) => {
  // calculate random number for delay
  const delay = getRandomInt(0, 5);

  // calculate random number for duration
  const duration = getRandomInt(3, 6);

  // set both
  item.style.animationDelay = `${delay}s`;
  item.style.animationDuration = `${duration}s`;
});

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
}
{% endjavascript %}
{% schema %}
{
"name": "Grid Background Banner",
"class": "section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Lil'Thingamajigs",
"label": "type in banner heading"
}
],
"blocks": [
{
"type": "gridbackground",
"name": "grid image",
"settings": [
{
"type": "product",
"id": "product",
"label": "select a product for grid background image"
},
{
"type": "range",
"id": "span",
"min": 1,
"max": 5,
"step": 1,
"default":1,
"label": "span value"
},
{
"type": "range",
"id": "duration",
"min": 10,
"max": 100,
"step": 10,
"default":10,
"label": "duration value"
}
]
}
],
"presets": [
{
"name": "Grid Background Banner",
"blocks": [
{
"type": "gridbackground"
}
]
}
]
}
{% endschema %}