

    <div class="relative min-h-[60vw] w-screen flex items-center justify-center bg-lt-white overflow-hidden mb-4" >
        <!-- background grid -->
        <div class="absolute inset-0 grid justify-center grid-flow-row grid-cols-4 grid-rows-3 gap-4 p-2 transform md:gap-6 -skew-y-2 grid-background">
            {% for block in section.blocks %}
            <div class="relative col-span-1 row-span-1 animate-pulse">
                <img src="{{block.settings.product.featured_image | img_url: '250x'}}" alt="" class="absolute object-cover object-top w-full max-h-full rounded-xl aspect-square drop-shadow-lg">
            </div> 
            
            {%endfor%}
            
        </div>
        <!-- content -->
        <div class="relative flex flex-col items-center justify-center p-4 rounded bg-opacity-60 bg-amber-100 md:p-8 drop-shadow-lg backdrop-blur-sm">
            <p class="text-4xl font-extrabold md:text-5xl lg:text-6xl text-amber-500"><em class="text-amber-900 ">Lil'</em>Thingamajigs</p>
            <p class="text-2xl font-bold md:text-3xl lg:text-4xl text-stone-500">The best place to find the products you love.</p>
        </div>
    <!-- <div class="absolute inset-0 w-full h-full bg-lt-white/60"></div> -->

</div>
{% javascript %}
    // grab everything we need
const gridItems = document.querySelectorAll(".grid-background > div");

// loop over grid items and create a random duration + delay for each
gridItems.forEach((item) => {
  // calculate random number for delay
  const delay = getRandomInt(0, 5);

  // calculate random number for duration
  const duration = getRandomInt(3, 6);

  // set both
  item.style.animationDelay = `${delay}s`;
  item.style.animationDuration = `${duration}s`;
});

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
}
{% endjavascript %}
{% schema %}
{
"name": "Grid Background Banner",
"class": "section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Lil'Thingamajigs",
"label": "type in banner heading"
}
],
"blocks": [
{
"type": "gridbackground",
"name": "grid image",
"settings": [
{
"type": "product",
"id": "product",
"label": "select a product for grid background image"
},
{
"type": "range",
"id": "span",
"min": 1,
"max": 5,
"step": 1,
"default":1,
"label": "span value"
},
{
"type": "range",
"id": "duration",
"min": 10,
"max": 100,
"step": 10,
"default":10,
"label": "duration value"
}
]
}
],
"presets": [
{
"name": "Grid Background Banner",
"blocks": [
{
"type": "gridbackground"
}
]
}
]
}
{% endschema %}