<section class="w-full h-full">gachapon product pick template build</section>
<h1>{{product.title}}</h1>
<iframe src='https://my.spline.design/superkidrobotcopy-c422ca4ab55e888315a967e6121f80e4/' frameborder='0' width='100%' height='100%' class="h-[500px]"></iframe>
{% schema %}
{
    "name": "Gachapon Product Pick",
    "class": "section",
    "tag": "section",
    "presets": [
        {
            "name": "Gachapon Product Pick"
        }
    ]
}

{% endschema %}