<section class="flex page-width">
    <div class="textbox basis-[40%]">

    </div>

    <div class="splinebox basis-[60%]">
        <iframe src='https://my.spline.design/untitled-9bc2a7355a8979c0e7202b81f11afa4d/' frameborder='0' width='100%' height='100%'></iframe>
    </div>
</section>
{% schema %}
{
  "name": "Iframe box for spline design",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "spline",
      "default": true,
      "label": "enter a spline design iframe export"
    }
  ],
  "presets": [
    {
      "name": "iframe box for spline design"
    }
  ]
}
{% endschema %}