
<section class="flex flex-col items-center h-[110vh] page-width">
    <div class="h-32 titlebox">
      <h1>About Us</h1>
    </div>
    <div class="flex-1 w-1/2 my-2 splinebox">
      {{ section.settings.splineiframe }}
    </div>
    <div class="w-9/12 textbox">
      {{ section.settings.text }}
    </div>
</section>
{% schema %}
{
  "name": "iframe spline design",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Our company has been buzzing to bring the best of Asian pop culture to America since 2007. From it's humble beginnings \"Lil' Thingamajigs\" worked tirelessly to expand and bring Asian pop culture into the mainstream.<br\/><br\/>With the global expansion of Asian pop culture and with the help of our company mascot \"Lily\", a gift box shaped bee, we are ready to keep the buzz going and be a part of the big wave.<br\/><br\/>\"Lil' Thingamajigs\" has multiple storefronts and is dedicated to providing the best customer experience for our visitors. With the introduction of our online storefront we are now able to share those experiences and our passion to those unable to visit our locations.<br\/><br\/>Keep on buzzin...<\/p>",
      "label": "enter text"
    },
    {
      "type": "liquid",
      "id": "splineiframe",
      "default": "<iframe src='https://my.spline.design/untitled-9bc2a7355a8979c0e7202b81f11afa4d/' frameborder='0' width='100%' height='100%'></iframe>",
      "label": "enter iframe from spline"
    }
  ],
  "presets": [
    {
      "name": "iframe spline design"
    }
  ]
}
{% endschema %}