{%- style -%}
  
  
{%- endstyle -%}

<div class="py-4 pl-8 md:py-8 md:pl-12 lg:pl-20 bg-lt-white tw_smallheading">
    <em class="tw_smallEM">Most</em> searched categories. See what others are buying
</div>
<div class="flex w-screen pb-6 bg-lt-white">
    <div class="flex flex-col items-center justify-center flex-shrink-0 px-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
          </svg>
    </div>
    <div class="flex items-center gap-6 p-6 overflow-x-scroll snap-mandatory snap-x tw_scroll">
        {% for block in section.blocks  %}
        <a href="{{block.settings.collection.url}}" class="no-underline">
            <div class=" snap-center flex-shrink-0 w-[40vw] md:w-[18vw] group drop-shadow-md shadow-lime-400 hover:drop-shadow-xl">
                <div class="relative">
                    <img src="{{block.settings.collection.image | img_url: '400x400' }}" alt=""
                    class="object-contain w-full h-full rounded-xl ">
                    <div
                    class="absolute w-full text-base text-center text-black duration-200 transform bg-white bottom-1/2 bg-opacity-40 backdrop-blur-md group-hover:hidden md:text-xl lg:text-2xl">{{block.settings.collection.title}}</div>
                </div>
            </div>
        </a>
        {%endfor%}
    </div>
    <div class="flex flex-col items-center justify-center flex-shrink-0 px-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
          </svg>
    </div>
</div>

{% schema %}
{
"name": "Popular Category",
"class": "section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Lil'Thingamajigs - The best place to find the products you love.",
"label": "type in banner heading"
}
],
"blocks": [
{
"type": "category",
"name": "category selection",
"settings": [
{
"type": "collection",
"id": "collection",
"label": "selected collection"
},
{
"type": "image_picker",
"id": "image",
"label": "category image"
},
{
"type": "text",
"id": "title",
"label": "category text label"
},
{
"type": "url",
"id": "link",
"label": "category url link"
}
]
}
],
"presets": [
{
"name": "popular category",
"blocks": [
{
"type": "category"
},
{
"type": "category"
},
{
"type": "category"
}
]
}
]
}
{% endschema %}