.tw_scroll::-webkit-scrollbar {
    background-color: tw-lt-white;
    border-radius: 100px;
    border: 1px solid #bfbfc2;
    height: 4px;
}
.tw_scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #cdd9f0 0%, #6a93b9 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.1);
  border-radius: 10px;
  width: 2px;
  opacity: 0.3;
}
