.tw_scroll::-webkit-scrollbar {
    background-color: tw-lt-white;
    border-radius: 100px;
    border: 1px solid #bfbfc2;
    height: 4px;
}
.tw_scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #cdd9f0 0%, #6a93b9 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.1);
  border-radius: 10px;
  width: 2px;
  opacity: 0.3;
}

.tw_smallheading {
  @apply text-xl font-medium md:text-2xl lg:text-3xl text-slate-500 ;
}

.tw_smallEM {
  @apply text-2xl font-semibold underline md:text-3xl lg:text-4xl text-slate-700 decoration-8 decoration-amber-200;
}
.tw_containerTitle {
  @apply text-xl font-semibold text-pink-600 md:text-2xl lg:text-2xl;
}

.link_style a{
  @apply text-gray-700 no-underline;
}

.link_style a:hover{
  @apply text-red-500
}